- configure_page title: @artist.name

.artist.show.page
  %h2.title= @artist

  %section
    %table.track-list
      %thead
        %tr
          %th Tracks
          %th Lyrics
      %tbody
        - @tracks.each do |track|
          %tr.track
            %td.title= link_to track.title, [@artist, track]
            %td.check= track.lyrics.present? ? '✓' : ''
