#footer.footer
  .site-menu
    %ul
      %li.title Company
      %li= link_to 'Home', home_path
      %li= link_to 'Artists', artists_path
      -#%li= link_to 'Privacy', privacy_path
      -#%li= link_to 'Cookies', cookies_path
      -#%li= link_to 'Contact Us', contacts_path


  .sub-footer
    .copyright= copyright_message
    -#.creative-commons-notice
    -#  = link_to 'Several images are licensed under Creative Commons.', creative_commons_path

