%meta{name: 'og:title', content: page_title}
%meta{name: 'og:description', content: page_description}
%meta{name: 'og:url', content: canonical_url}
%meta{name: 'og:image', content: open_graph_image}

%meta{name: 'twitter:title', content: page_title}
%meta{name: 'twitter:description', content: page_description}
%meta{name: 'twitter:url', content: canonical_url}
%meta{name: 'twitter:image', content: open_graph_image}
