$font: 'Helvetica Neue', roboto, sans-serif;
$font-header: $font;
$font-body: $font;
$font-quoted: Georgia, serif;

$font-numbers: verdana, helvetica, roboto, arial, sans-serif;

$font-size: 17px;
$font-size-smaller: 0.9rem;
$font-size-phone: 16px;
$font-size-banner: 1.4rem;
$line-height: 1.4;
$line-height-ems: 1.4em;

$button-font: $font-body;
$tag-font: $font-body;
$tag-font-size: 0.8em;
$button-font-size: 1em;
$action-font: $font-body;
