$margin: 1rem;
$margin-desktop: 1.5rem;
$margin-big: 2.3rem;
$landing-page-margin: 50px;

$inset: 0.5rem;
$inset-small: 0.3rem;
$inset-tiny: 6px;
$inset-vertical: 0.3rem;

$small-gap: 0.2em;
$padding: $inset-vertical $inset;

$gutter-mobile: 4.2rem;
$gutter-desktop: 6.0rem;

$post-indent: 3.5rem;
$reply-indent: 3.5rem;
$reply-padding: $margin * 1.2;
$action-box-width: 1.5em;
$action-padding: 0.6em;

$popup-margin: 0.75rem;

