@import 'common/constants';

a {
  text-decoration: none;
  color: $link-color;
  background-color: transparent;

  @media (hover) {
    &:hover {
      color: $link-color-hover;
      text-decoration: underline;
    }
  }
}
